<header>
    <div id="search-box">
        <h1><span id="G-title-header">G</span>TM</h1>
        <input type="text" id="search">
        <img src="/Search.svg" alt="">
    </div>
    <nav>
        <a href="/feed"><img src="/HomeButton.svg" alt="Home"></a>
        <a href="/friends"><img src="/Friends.svg" alt="Friends"></a>
        <a href="/chat"><img src="/ChatMessage.svg" alt="Chat"></a>
        <a href="/notifications"><img src="/Notifications.svg" alt="Notifications"></a>
        <a href="/menu"><img src="/MenuButton.svg" alt="Menu Button"></a>
    </nav>
</header>