<!DOCTYPE html>
<html lang="fr">
    <%- include('./partials/head.ejs') %>
<body>
    <div id="page-website">
        <%- include('./partials/header.ejs') %>
        <h1>Error Handeling</h1>
    </div>
</body>
</html>