<!DOCTYPE html>
<html lang="fr">
    <%-  include('./partials/head.ejs') %>
<body>
    <div id="page-website">
    <%- include('./partials/header.ejs') %>
        <main>
            <div id="message">
                <div class="message">
                    <div class="profile">
                        <img src="/Photo_profil.jpg" width="30px" alt="photo de profil" class="message-profile">
                        <p>Hey, td bem?</p>
                    </div>
                    <p class="message-time">14h02<img src="/RightArrow.svg" alt="right-arrow"></p>
                    
                </div>
                <div class="message">
                    <div class="profile">
                        <img src="/Photo_profil.jpg" width="30px" alt="photo de profil" class="message-profile">
                        <p>Hey, td bem?</p>
                    </div>
                    <p class="message-time">14h02<img src="/RightArrow.svg" alt="right-arrow"></p>
                </div>
            </div>
            <div id="chat">
                <div id="chat-profile">
                    <div id="profile">
                        <img src="/LeftArrow.svg" id="left-arrow" alt="left-arrow">
                        <img src="/PersonPicture.svg" class="guest" alt="profile-pic">
                        <p>Guest</p>
                    </div>
                    <img src="/OptionsDots.svg" alt="options">
                </div>
                <div id="chat-message">
                    <div class="chat-message profile1" id="profile1">
                        <img src="/PersonPicture.svg" alt="profile pic">
                        <p>Bom dia, td bem?</p>
                    </div>
                    <div class="chat-message profile2" id="profile2">
                        <p>Hey, td bem?</p>
                        <img src="/Photo_profil.jpg" width="30px" alt="profile pic">
                    </div>

                    <!------------------------------------------------------------------------------------->

                    <div class="chat-message profile1" id="profile1">
                        <img src="/PersonPicture.svg" alt="profile pic">
                        <p>Bom dia, td bem?</p>
                    </div>
                    <div class="chat-message profile2" id="profile2">
                        <p>Hey, td bem?</p>
                        <img src="/Photo_profil.jpg" width="30px" alt="profile pic">
                    </div>
                    <div class="chat-message profile1" id="profile1">
                        <img src="/PersonPicture.svg" alt="profile pic">
                        <p>Bom dia, td bem?</p>
                    </div>
                    <div class="chat-message profile2" id="profile2">
                        <p>Hey, td bem?</p>
                        <img src="/Photo_profil.jpg" width="30px" alt="profile pic">
                    </div>
                    <div class="chat-message profile1" id="profile1">
                        <img src="/PersonPicture.svg" alt="profile pic">
                        <p>Bom dia, td bem?</p>
                    </div>
                    <div class="chat-message profile2" id="profile2">
                        <p>Hey, td bem?</p>
                        <img src="/Photo_profil.jpg" width="30px" alt="profile pic">
                    </div>
                    <div class="chat-message profile1" id="profile1">
                        <img src="/PersonPicture.svg" alt="profile pic">
                        <p>Bom dia, td bem?</p>
                    </div>
                    <div class="chat-message profile2" id="profile2">
                        <p>Hey, td bem?</p>
                        <img src="/Photo_profil.jpg" width="30px" alt="profile pic">
                    </div>
                    <div class="chat-message profile1" id="profile1">
                        <img src="/PersonPicture.svg" alt="profile pic">
                        <p>Bom dia, td bem?</p>
                    </div>
                    <div class="chat-message profile2" id="profile2">
                        <p>Hey, td bem?</p>
                        <img src="/Photo_profil.jpg" width="30px" alt="profile pic">
                    </div>
                    <div class="chat-message profile1" id="profile1">
                        <img src="/PersonPicture.svg" alt="profile pic">
                        <p>Bom dia, td bem?</p>
                    </div>
                    <div class="chat-message profile2" id="profile2">
                        <p>Hey, td bem?</p>
                        <img src="/Photo_profil.jpg" width="30px" alt="profile pic">
                    </div>
                    <div class="chat-message profile1" id="profile1">
                        <img src="/PersonPicture.svg" alt="profile pic">
                        <p>Bom dia, td bem?</p>
                    </div>
                    <div class="chat-message profile2" id="profile2">
                        <p>Hey, td bem?</p>
                        <img src="/Photo_profil.jpg" width="30px" alt="profile pic">
                    </div>
                    <div class="chat-message profile1" id="profile1">
                        <img src="/PersonPicture.svg" alt="profile pic">
                        <p>Bom dia, td bem?</p>
                    </div>
                    <div class="chat-message profile2" id="profile2">
                        <p>Hey, td bem?</p>
                        <img src="/Photo_profil.jpg" width="30px" alt="profile pic">
                    </div>
                    <div class="chat-message profile1" id="profile1">
                        <img src="/PersonPicture.svg" alt="profile pic">
                        <p>Bom dia, td bem?</p>
                    </div>
                    <div class="chat-message profile2" id="profile2">
                        <p>Hey, td bem?</p>
                        <img src="/Photo_profil.jpg" width="30px" alt="profile pic">
                    </div>
                    <div class="chat-message profile1" id="profile1">
                        <img src="/PersonPicture.svg" alt="profile pic">
                        <p>Bom dia, td bem?</p>
                    </div>
                    <div class="chat-message profile2" id="profile2">
                        <p>Hey, td bem?</p>
                        <img src="/Photo_profil.jpg" width="30px" alt="profile pic">
                    </div>
                    <div class="chat-message profile1" id="profile1">
                        <img src="/PersonPicture.svg" alt="profile pic">
                        <p>Bom dia, td bem?</p>
                    </div>
                    <div class="chat-message profile2" id="profile2">
                        <p>Hey, td bem?</p>
                        <img src="/Photo_profil.jpg" width="30px" alt="profile pic">
                    </div>
                    <div class="chat-message profile1" id="profile1">
                        <img src="/PersonPicture.svg" alt="profile pic">
                        <p>Bom dia, td bem?</p>
                    </div>
                    <div class="chat-message profile2" id="profile2">
                        <p>Hey, td bem?</p>
                        <img src="/Photo_profil.jpg" width="30px" alt="profile pic">
                    </div>
                    <div class="chat-message profile1" id="profile1">
                        <img src="/PersonPicture.svg" alt="profile pic">
                        <p>Bom dia, td bem?</p>
                    </div>
                    <div class="chat-message profile2" id="profile2">
                        <p>Hey, td bem?</p>
                        <img src="/Photo_profil.jpg" width="30px" alt="profile pic">
                    </div>
                    <div class="chat-message profile1" id="profile1">
                        <img src="/PersonPicture.svg" alt="profile pic">
                        <p>Bom dia, td bem?</p>
                    </div>
                    <div class="chat-message profile2" id="profile2">
                        <p>Hey, td bem?</p>
                        <img src="/Photo_profil.jpg" width="30px" alt="profile pic">
                    </div>
                    <div class="chat-message profile1" id="profile1">
                        <img src="/PersonPicture.svg" alt="profile pic">
                        <p>Bom dia, td bem?</p>
                    </div>
                    <div class="chat-message profile2" id="profile2">
                        <p>Hey, td bem?</p>
                        <img src="/Photo_profil.jpg" width="30px" alt="profile pic">
                    </div>
                    <div class="chat-message profile1" id="profile1">
                        <img src="/PersonPicture.svg" alt="profile pic">
                        <p>Bom dia, td bem?</p>
                    </div>
                    <div class="chat-message profile2" id="profile2">
                        <p>Hey, td bem?</p>
                        <img src="/Photo_profil.jpg" width="30px" alt="profile pic">
                    </div>
                    <div class="chat-message profile1" id="profile1">
                        <img src="/PersonPicture.svg" alt="profile pic">
                        <p>Bom dia, td bem?</p>
                    </div>
                    <div class="chat-message profile2" id="profile2">
                        <p>Hey, td bem?</p>
                        <img src="/Photo_profil.jpg" width="30px" alt="profile pic">
                    </div>

                    <!------------------------------------------------------------------------------------->
                </div>
                <div id="chat-input">
                    <textarea name="chat-input" id="chat-text"></textarea>
                    <img src="/Gallery.svg" alt="Gallery">
                </div>
            </div>
        </main>
        <%- include('./partials/script.ejs') %>
    </div>
</body>
</html>