<!DOCTYPE html>
<html lang="fr">
    <%- include('./partials/head') %>
<body>
    <div id="page-website">
        <%- include('./partials/header') %>
        <main>
            <div id="friend-request">
                <div id="friend">
                    <img src="/PersonPicture.svg" alt="photo de profil">
                    <p>Guest</p>
                </div>
                <div id="buttons">
                    <button id="accept">Accepter</button>
                    <button id="reject">Rejeter</button>
                </div>
            </div>
        </main>
    </div>
</body>
</html>