<!DOCTYPE html>
<html lang="fr">
    <%- include('./partials/head') %>
<body>
    <main>
        <div id="page">
            <h1><span id="G-title">G</span>ET-TO-MEET</h1>
            <div id="login-page">
                <h4>Username</h4>
                <input type="text">
                <h4>Password</h4>
                <input type="text">
                <button type="submit"><a href="/feed">Submit</a></button>
            </div>
        </div>
        <div id="footer"></div>
    </main>
</body>
</html>