<!DOCTYPE html>
<html lang="fr">
    <%- include('./partials/head') %>
<body>
    <div id="page-website">
        <%- include('./partials/header') %>
        <main id="main-notifications">
            <h1>Accepted Requests</h1>
            <div id="accepted-request">
                <img src="Photo_profil.jpg" class="notifications-profile-pic" alt="photo de profil">
                <p>Raphael Silva : Request Accepted</p>
            </div>
            <h1>Rejected Requests</h1>
            <div id="rejected-request">
                <img src="Photo_profil.jpg" class="notifications-profile-pic" alt="photo de profil">
                <p>Raphael Silva : Request Rejected</p>
            </div>
            <h1>Other Notifications</h1>
            <div id="other-notifications">
                <img src="Photo_profil.jpg" class="notifications-profile-pic" alt="photo de profil">
                <p>"Raphael Silva" : posted 1h ago</p>
            </div>
        </main>
    </div>
</body>
</html>