<!DOCTYPE html>
<html lang="fr">
    <%- include('../partials/head') %>
<body>
    <div id="page-website">
    <%- include('../partials/header') %>
        <main id="main-menu">
            <a href="/menu/menu/settings"><div class="settings">
                <h1><img src="/Settings.svg" alt="Paramètres"> Settings</h1>
            </div>
            </a>
        </main>
    </div>
</body>
</html>